<div class="headerBlock">
    <div class="logoPlace">
        <a href=""><img src= {{PHlogo}} class="logoStyle"></a>
    </div>
    <div class="searchBlock">
        <div class="firstSearchBlock">
            <form action="" method="get">
                <input name="s" placeholder="Поисковая строка" type="search" class="textSearch">
            </form>
            <div class="lupaImg">
                <img src={{PHLupa}}>
            </div>
        </div>
        <div class="menuPad">
            <div class="menuPadText">Популярное</div>
            <div class="padInd">
                <img src={{PHpadim}}>
            </div>
        </div>
    </div>
    <a href="" class="textToInd">Главная</a>
    <a href=""><img src={{PHplus}} class="plusImg"></a>
    <a href=""><img src={{PHquestion}} class="askImg"></a>

    <div class="avatarBlock">
        <div class="avatarUnderBlock">
            <img src= {{avatarphoto}} class="avatar" align="top">
            <a href="" class="usernameclass avatarblock_username">{{username}}</a>
        </div>
    </div>

    <div class="rightmenu">
        <a href=""><img src={{PHdialog}} class="dialogImg rightmenu_dialogimg_pad"></a>
        <a href=""><img src={{PHsetting}} class="munImg rightmenu_munimg_pad"></a>
    </div>
</div>