<div class="underheader">
    <div class="profileIcons">
        <img src={{avatarphoto}} class="avatarPhotoP">
        <div class="usernameStyleP">{{username}}</div>
        <div class="underusename">{{status}}</div>
        <a href="#" data-section="settings">
            <img src={{PHsetimg}} data-section="settings" class="sizeIcons" style="position: absolute; left: 597px; top: 60px;">
        </a>
        <a href="/createpin" data-section="createpin">
            <img src={{PHplus}} class="sizeIcons" style="position: absolute; left: 597px; top: 125px;">
        </a>
        <a class="logout" href="/" data-section="login">Выйти</a>
        <a class="butwithoutCol" href="" style="left: 188px; top: 203px;">
            <span class="textPad">Доски</span>
        </a>
        <a class="butwithoutCol" href="" style="left: 332px; top: 203px;">
            <span class="textPad">Пины</span>
        </a>
    </div>
</div>