<div class="leftColumn">
    <div class="marginTopF">
        <img src={{PHfimg}} class="marginLeftCol">
        <a href="" class="leftTextSt">Изменить профиль</a>
    </div>
    <div class="marginTopT">
        <img src={{PHsimg}} class="marginLeftCol">
        <a href="" class="leftTextSt">Настройки аккаунта</a>
    </div>
    <div class="marginTopT">
        <img src={{PHtimg}} class="marginLeftCol">
        <a href="" class="leftTextSt">Настроить тему</a>
    </div>
</div>
<div class="rightColumn">
    <div class="setTitle">Изменить профиль</div>
    <form id="UserSettings">
        <input type="submit" class="botOut" value="Готово">
        <input type="submit" class="botNoOut" value="Отмена">
        <div class="withPhotoBlock">
            <img src={{avatarphoto}} class="avatarPhoto">
            <div class="underAvatar">{{username}}</div>
            <input type="button" id="changeAvatar" value="Изменить" class="avatarBot">
            <input type="file" name="avatarphoto" id="avatarphoto" accept="image/*" style="display: none;">
        </div>
        <div class="normText" style="margin-left: 35px; margin-top: 448px;">Имя</div>
        <input type="text" id="name" placeholder="Иван" value={{name}} class="inputForm" style="margin-left: 35px; margin-top: 10px;">
        <div class="normText" style="margin-left: 379px; margin-top: -20px;">Фамилия</div>
        <input type="text" id="surname" placeholder="Иванов" value={{surname}} class="inputForm" style="margin-left: 379px; margin-top: 10px;">
        <div class="normText" style="margin-left: 35px; margin-top: 100px;">Имя пользователя</div>
        <div class="normText" style="margin-left: 35px; padding-top: 20px;">wwww.sunrise.com/</div>
        <input type="text" id="username" placeholder="username" value={{username}} class="inputForm" style="margin-left: 35px; margin-top: 10px;">
        <div class="normText" style="margin-left: 35px; margin-top: 100px;">Статус</div>
        <input type="text" id="status" placeholder="Расскажите о себе" value={{status}} class="inputForm" style="margin-left: 35px; margin-top: 10px; width: 679px;">
    </form>
</div>