 <div class="pin-for-index-view">
     <a href="/pin/{{id}}"><img src="{{pinImg}}" class="pin-for-index__img"></a>
    <a href="/pin/{{id}}"><div class="pin-for-index__content">{{content}}</div></a>
    <img src={{PHPlus}} class="pin-for-index__plus-img pin-for-index__plus-img_pos">
 </div>
 