<div id="profile-page" class="profile-container">
    <div class="profile-container_pos">
        <div class="profile-underheader">
            <img src="{{avatarphoto}}" id="avatarPhotoI" class="profile-avatar-photo">
            <div class="profile-underheader__content">
                <div class="profile-username">{{username}}</div>
                <div class="profile-status">{{status}}</div>
            </div>
            <div class="profile-underheader__icons">
                <a href="/settings">
                    <img src={{PHsetimg}} data-section="settings" class="profile-icon-size">
                </a>
                <nav class="create-menu-profile">
                    <ul>
                        <li>
                            <img src={{PHplus}} data-section="createpin" class="profile-icon-size profile-icon-size_pos">
                            <ul class="create-menu-profile__pad_menu">
                                <li><a href="/create_pin">Пин</a></li>
                                <li><a href="/create_board">Доска</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a data-section="logout" href='/login' class="profile-logout profile-icon-size_pos">Выйти</a>
            </div>
        </div>

        <div class="profile-buttons">
            <div id="profileBoards" class="profile-button">Доски</div>
            <div id="profilePins" class="profile-button profile-button_pin-pos">Пины</div>
        </div>
    </div>

    <div id="profilePinsBoardsView" class="profile-pins-boards columns">
    </div>

    <!-- button for chat-->
    <div id="ask-button">
        <div id="supportChat">
        </div>
        <a><img src={{PHquestion}} class="ask-img ask-button_pos"></a>
    </div>
</div>