<div id="board-page" class="board-page__flex-container">
    <div class="board-page__flex-columns-container">
        <div class="board-page-columns">
            <div class="board-page__left-column">
                <!-- <div class="board-page__left-column__images">
                    <a><img data-section="settings" src={{PHGrayPen}} class="board-page__left-column__images__pen"></a>
                    <a><img data-section="createPin" src={{PHPlus}} class="board-page__left-column__images__plus board-page__left-column__images__plus_pos"></a>
                </div> -->
                <div class="board-page__left-column__title">{{boardName}}</div>
                <div class="board-page__left-column__undertitle">{{pinCount}} {{pinnum}}</div>
                <div class="board-page__left-column__dis">{{boardDis}}</div>
                <div class="board-page__left-column__buttons">
                    <div class="board-page__left-column__buttons__yourpins">
                        Ваши пины
                    </div>
                    <!-- <div class="board-page__left-column__buttons__anotherpins board-page__left-column__buttons__anotherpins_pos">
                        Другие пины
                    </div> -->
                </div>
            </div>

            <div class="board-page__right-column board-page__right-column_pos">
                <img id="boardViewAvatar" src="{{avatarImg}}" class="board-page__right-column__avatar">
                <div class="board-page__right-column__username">{{username}}</div>
            </div>
        </div>
    </div>
    <div id="boardViewPins{{forID}}" class="board-page-yourpins">
    </div>
</div>
