<div id="componentPopUp{{forID}}" class="createpin__right-column__create-board_none">
    <div class="createboard-anotherview_card popup_width">
        <img id="componentPopUpClose{{forID}}" src="{{PHdelete}}" class="popup-img-close">
        <div id="componentPopUpText{{forID}}" class="popup-view-text">{{text}}</div>
    </div>
</div>