<div id="userForSearch" class="user-for-search">
    <a href="/users/{{username}}"><img data-section="/users/{{username}}" src="{{userImg}}" class="user-for-search__img"></a>
    <a href="/users/{{username}}"><div class="user-for-search__username">{{username}}</div></a>
</div>
