<div id="componentCreateBoard{{forID}}" class="createboard-anotherview createboard-anotherview__animation">
    <div class="createboard-anotherview_card">
        <img id="componentCloseBoard{{forID}}" src="{{PHdelete}}" class="createboard-anotherview_card-delete">
        <div class="createboard-anotherview__title">Создание доски</div>
        <form id="createBoardDataFAnother{{forID}}">
            <div id="componentCreateBoardError{{forID}}"></div>
            <input type="text" id="boardname" placeholder="Добавьте название" value="" class="createboard-anotherview__form__title createboard-anotherview__form__title_pos">
            <input type="text" id="boardcontent" placeholder="Добавьте описание" value="" class="createboard-anotherview__form__content createboard-anotherview__form__content_pos">
            
            <div class="createboard-anotherview__form__button" >
                <input type="submit" class="createboard-anotherview__form__button-view" value="Готово">
            </div>
        </form>
    </div>
</div>