<div id="header" class="header-position">
    <div class="header">
        <a href='/index/new' class="logo">Sunrise</a>
        <form id="headerSearch" class="search">
            <div class="searchheader-line">
                <div class="search__icon">
                    <img src={{PHLupa}}>
                </div>
                <div class="search__input">
                    <input type="text" id="searchtext" name="searchtext" placeholder="{{i18n 'header.searchString'}}">
                </div>
                <input type="submit" style="display:none;" value="{{i18n 'header.find'}}">
            </div>
            <select name="style" id="style-select" class="searchheader-select_design searchheader-select_design_pos">
                <option value="Tag">{{i18n 'header.tags'}}</option>
                <option value="Username">{{i18n 'header.users'}}</option>
            </select>
        </form>

        <div class="left-controls">
            <a href="/subscribe/new" class="left-controls__text-to-ind">{{i18n 'header.subs'}}</a>
        </div>
        <div class="controls">
            <a href="/profile">
                <img src="{{avatarPhoto}}" data-section="/profile" id="avatarPhotoHeader" class="avatar">
            </a>
            <a href="/profile" id="nicknameHeader" class="controls__link usernameclass">{{username}}</a>
            <a href="/create_pin"><img data-section="/create_pin" src={{PHplus}} class="plus-img"></a>
        </div>
        <div class ="dialog-block">
            <a href="/dialog"><img id="messageImg" data-section="/dialog" src={{PHdialog}} class="dialog-img dialog__items"></a>
            <nav class="alerts-menu">
                <ul>
                    <li class="alerts-menu_margin-list">
                        <img src={{PHbell}} id ="noticeView" class="bell-img dialog__items dialog__items_disabled">
                        <ul id="list" class="notice-view_none">
                        </ul>
                    </li>
                </ul>
            </nav>
            <span id="spanNum" class="alerts-count_disabled">{{notice}}</span>
            <nav class="alerts-menu">
                <ul>
                    <li class="alerts-menu_margin-list">
                        <img id="headerView" src={{PHsetting}} class="mun-img dialog__items">
                        <ul class="notice-view_none" id="headerSettingsView">
                            <li><a href="/login">Выход</a></li>
                            <li><a href="/settings">Настройки</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
