<div id="header" class="header-position">
    <div class="header">
        <a href='/index/new' class="logo">
            <img data-section="/index/new" class="logo__picture" src={{PHlogo}}>
        </a>
        <form id="headerSearch" class="search">
            <div class="searchheader-line">
                <div class="search__icon">
                    <img src={{PHLupa}}>
                </div>
                <div class="search__input">
                    <input type="text" id="searchtext" name="searchtext" placeholder="Поисковая строка">
                </div>
                <input type="submit" style="display:none;" value="Найти">
            </div>
            <select name="style" id="style-select" class="searchheader-select_design searchheader-select_design_pos">
                <option value="Tag">Теги</option>
                <option value="Username">Пользователи</option>
            </select>
        </form>

        <div class="left-controls">
            <a href="/index/new" class="left-controls__text-to-ind">Главная</a>
            <a href="/subscribe/new" class="left-controls__text-to-ind">Подписки</a>
            <a href="/create_pin"><img data-section="/create_pin" src={{PHplus}} class="plus-img plus-img_margin-left"></a>
        </div>
        <div class="controls">
            <img src="{{avatarPhoto}}" id="avatarPhotoHeader" class="avatar">
            <a href="/profile" id="nicknameHeader" class="controls__link usernameclass">{{username}}</a>
        </div>
        <div class ="dialog-block">
            <a href="/dialog"><img id="messageImg" data-section="/dialog" src={{PHdialog}} class="dialog-img dialog__items"></a>
            <nav class="alerts-menu">
                <ul>
                    <li class="alerts-menu_margin-list">
                        <img src={{PHbell}} class="bell-img dialog__items">
                        <ul id="list" class="alerts-menu__pad_menu">
                        </ul>
                    </li>
                </ul>
            </nav>
            <span id="spanNum" class="alerts-count">{{notice}}</span>
            <a href="/settings"><img data-section="/settings" src={{PHsetting}} class="mun-img dialog__items"></a>
        </div>
    </div>
</div>
