<div id="login-page" class="login-block_background">
    <div class="login-block">
        <img src={{PHlogo}} class="login-block__logo login-block__logo_padding">
        <div class="login-block__title">{{i18n 'login.welcome'}}</div>
        <div id="loginTextErr" class="login-error-text_none"></div>
        <form id="inputdata_login">
            <input type="email" id="emailinput" placeholder="Email" class="login-form-block__input login-form-block__input_email_margin">
            <input type="password" id="passwordinput" placeholder="{{i18n 'login.password'}}" class="login-form-block__input login-form-block__input_password_margin">
            <input type="submit" value="{{i18n 'login.login'}}" class="button login-block__button login-block__button_margin">
        </form>
        <div class="login-block__underbutton-text a-bold-decoration_margin">
            {{i18n 'login.notRegisteredYet'}}
            <a href="/" class="a-bold-decoration">{{i18n 'login.registration'}}</a>
        </div>
    </div>
</div>
