<div class="pin-for-user-view">
    <a href="/pin/{{id}}"><img data-section="/pin/{{id}}" src="{{pinImg}}" class="pin-for-user-view__img"></a>
    <a href="/pin/{{id}}" class="pin-for-user-view__content">{{content}}</a>
    <a href="/pin_change/{{id}}"><img data-section="/pin_change/{{id}}" src={{PHGrayPen}} class="pin-for-user-view__pen-img pin-for-user-view__pen-img_pos"></a>
</div>
