<div class="pin-for-user-view">
    <a href="/pin/{{id}}"><img data-section="/pin/{{id}}" src="{{pinImg}}" class="pin-for-user-view__img"></a>
    <a href="/pin/{{id}}"><div class="pin-for-user-view__content">{{content}}</div></a>
    <a href="/pin_change"><img data-section="/pin_change" src={{PHGrayPen}} class="pin-for-user-view__pen-img pin-for-user-view__pen-img_pos"></a>
</div>
