<div id="viewpin-page" class="viewpin-page__flex-container">
    <div class="viewpin-block">
        <div class="viewpin-block__left-column viewpin-block__left-column_state">
            <img id="pinViewImg" src="{{pinImg}}" class="viewpin-block__pin-photo">
        </div>
        <div class="viewpin-block__right-column">
            <form id="viewPinData" class="view-pin-data-form">
                    <select name="board-select" class="viewpin-form__board-select_design viewpin-form__board-select_design_pos">
                        <option disabled>Выберете доску</option>
                        {{#each boardsNames}}
                            <option value={{this.board_id}}>{{this.board}}</option>
                        {{/each}}
                    </select>
                    <input type="submit" class="viewpin-block__right-column__buttom-save viewpin-block__right-column__buttom-save_pos" value="Сохранить">
            </form>
            <div class="viewpin-block__right-column__title viewpin-block__right-column__title_pos">{{pinName}}</div>
            <div class="viewpin-block__right-column__author-block">
                <span class="viewpin-block__right-column__author">Автор:</span>
                <a href="/users/{{pinAuthor}}" class="viewpin-block__right-column__username">{{pinAuthor}}</a>
            </div>
            <div class="viewpin-block__right-column__context">{{pinContent}}</div>
            <div class="viewpin-block__right-column__comment-block viewpin-block__right-column__context_margin">Комментарии</div>
            
            <div id="pinViewComments"></div>
    
            <form id="viewPinCommentData">
                <input type="text" id="comment" name="comment" placeholder="Напишите комментарий ..." class="viewpin-form__sending-comment viewpin-form__sending-comment_margin">
                <input type="submit" class="viewpin-form__send-comment comment_margin" value="Отправить">
            </form>
        </div>
    </div>
</div>
